*,
*::before,
*::after {
    overflow: hidden;
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.hplogo{
    max-width: 100%;
    object-fit: contain;
}